
body {
  font-family: 'Segoe UI', Arial, sans-serif;
  margin: 0;
  background: #121212;
  color: #e0e0e0;
  line-height: 1.6;
}
a {
  color: #80cbc4;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}


nav {
  background: #1e1e1e;
  padding: 10px 20px;
  text-align: center;
  border-bottom: 1px solid #333;
}
nav a {
  margin: 0 15px;
  font-weight: bold;
}


.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}


.profile {
  text-align: center;
  margin-bottom: 30px;
}
.profile img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border: 3px solid #80cbc4;
}
.profile h1 {
  margin: 10px 0 5px;
  color: #ffffff;
}
.profile p {
  font-style: italic;
  color: #b0b0b0;
}


h2 {
  border-left: 4px solid #80cbc4;
  padding-left: 8px;
  margin-top: 30px;
  color: #ffffff;
}


ul {
  padding-left: 20px;
}


.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  
}
button {
  background-color: #3498db;   
  color: white;                
  border: none;               
  padding: 10px 20px;         
  border-radius: 10px;          
  cursor: pointer;             
  font-size: 16px;  
  align-content: end;           
}
.card {
  background: #1e1e1e;
  padding: 15px;
  border: 1px solid #333;
  border-radius: 8px;
}
.card h3 {
  margin-top: 0;
  color: #80cbc4;
}


footer {
  text-align: center;
  padding: 15px;
  background: #1e1e1e;
  border-top: 1px solid #333;
  margin-top: 40px;
  font-size: 0.9em;
  color: #b0b0b0;
}